

<!--
  
<%= form_tag courses_path, method: :get do %>
    <%= text_field_tag :query,
     params[:query],
      class: "form-control",
      placeholder: "Find a course"
    %>
   <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

<%= link_to "Dashboard", dashboard_path, class: "btn btn-primary" %>
<%= link_to "Courses list", courses_path, class: "btn btn-primary" %>

-->
<div>
  
  <section>
    <h1> <strong>Welcome to Blockmemo</strong></h1>
  </section>
</div>



<style>
      h1{
        color: white;
        text-decoration: none;
        

      
      
      }
</style>







