

<!--
  
<%= form_tag courses_path, method: :get do %>
    <%= text_field_tag :query,
     params[:query],
      class: "form-control",
      placeholder: "Find a course"
    %>
   <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

<%= link_to "Dashboard", dashboard_path, class: "btn btn-primary" %>
<%= link_to "Courses list", courses_path, class: "btn btn-primary" %>

-->

<!--

<h1 class="text-center" style="color: rgb(225,236,240);"> <strong>Welcome to Blockmemo</strong></h1>
  
<body style="background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/25480/hero-img.jpg') top center no-repeat;">

<div class="container_main" style="background: transparent;">

</div>



<div class="container_secundary" style="background: transparent;">

</div>

<button type="button" class="btn btn-primary btn-lg btn-block">Action button</button>

</body>




<footer >
</footer>

    
-->
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Block Memo</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
 
<body style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

    <header>
        
    
        <div class="wrapper">
        <h1>Block Memo<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
        </div>
    </header>
    
    <div class="homepage-image">
        <%= image_tag "homepage.jpg"%>
    </div>

   <div>
        <div class="text-center">
            <h2><strong>A place to discover and learn about </strong><br/>
            cryptocurrencies</h2>
            <a href="#" class="btn btn-primary">Courses</a>
        </div>
    </div>
    

       

    
</body>
</html>







