

  <nav>
  #check courses under nav bar
  <div class="container text-center">
  <%= link_to "Check course", courses_path ,class: "btn btn-primary" %>
</div>
  </nav>
  
<%= form_tag courses_path, method: :get do %>
    <%= text_field_tag :query,
     params[:query],
      class: "form-control",
      placeholder: "Find a course"
    %>
   <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

<%= link_to "Dashboard", dashboard_path, class: "btn btn-primary" %>
<%= link_to "Courses list", courses_path, class: "btn btn-primary" %>
<div>
  
  <section>
    <h1>Welcome to Blockmemo</h1>
  </section>
</div>



<picture>

</picture>

 <dl>
  <dt>Bitcoin</dt>
  <dd>Black hot drink</dd>
  <dt>Milk</dt>
  <dd>White cold drink</dd>
</dl> 

<thead>
  <header>
  
  </header>
</thead>






