<div class="header" style="padding-top: 20px; padding-bottom: 20px">
  <h1 class="text-center">My Dashboard</h1>
</div>


<div class="container border border-primary text-center" style="background-color: white; border-radius: 5px; padding-top: 20px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
<h2>Completed courses</h2>
  <ul class="cards">
    <% @subscriptions.where("completed= ?", true).each do |subscription|  %>
    <li class="cards__item">
      <div class="card d-flex flex-column justify-content-between">
        <div>
        <% if subscription.course.picture.attached? %>
            <%= cl_image_tag subscription.course.picture.key %>
          <% else %>
            <%= image_tag "Ramiro.jpg" %>
          <% end %>
        </div>
          <div class="card__content">
            <div class="card__title"><%= subscription.course.name %></div>
              <p class="card-text p-y-1" style="margin-top: 10px; margin-bottom: 10px;">Progress : 
              Course completed
              <br>
                <%  subscription.course.chapters.each do |chapter| %>
                  <%  if chapter.order < subscription.chapter_completed  %>
                     <p style="color: black;font-weight: bolder; font-size: 12px; text-align: left;"><%= chapter.name %> &#9989;</p>
                  <% end %>

                  <% if chapter.order == subscription.chapter_completed && !chapter.nil? %>
                    <p style="color: grey;font-weight: bold; font-size: 12px; text-align: left;"><%= chapter.name %> &#10060; </p>
                  <% end %>
            
                  <% if chapter.order > subscription.chapter_completed && !chapter.nil? %>
                    <p style="color: grey;font-weight: lighter; font-size: 12px; text-align: left;"><%= chapter.name %></p>
                  <% end %>
          
                <% end %>
            </div>
            <% if subscription.course.chapters.last.order <= subscription.chapter_completed %>
            <%= link_to "Resume", course_chapter_path(subscription.course, subscription.chapter_completed + 1), class: "button", style: "margin-left: 10px; margin-right: 10px"%>
            <% else %>
            <%= link_to "Restart", course_chapter_path(subscription.course, subscription.chapter_completed + 1, restart: 1), class: "button", style: "margin-left: 10px; margin-right: 10px"%>
            <% end %>
    </div>
    </li>
    <% end  %>
  </ul>
</div>

<div class="container border border-primary text-center" style="background-color: white; border-radius: 5px; padding-top: 20px; margin-top:20px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
<h2> Ongoing courses</h2>
  <ul class="cards">
    <% @subscriptions.where("completed= ?", false).each do |subscription|  %>
    <li class="cards__item">
      <div class="card d-flex flex-column justify-content-between">
        <div >
        <% if subscription.course.picture.attached? %>
            <%= cl_image_tag subscription.course.picture.key %>
          <% else %>
            <%= image_tag "Ramiro.jpg" %>
          <% end %>
        </div>
          <div class="card__content">
            <div class="card__title"><%= subscription.course.name %></div>
              <p class="card-text p-y-1" style="margin-top: 10px; margin-bottom: 10px;">Progress : 
              <%= subscription.chapter_completed %> / <%= subscription.course.chapters.last.order %></p>
              <br>
                <%  subscription.course.chapters.each do |chapter| %>
                  <%  if chapter.order < subscription.chapter_completed  %>
                     <p style="color: black;font-weight: bolder; font-size: 12px; text-align: left;"><%= chapter.name %> &#9989;</p>
                  <% end %>

                  <% if chapter.order == subscription.chapter_completed && !chapter.nil? %>
                    <p style="color: grey;font-weight: bold; font-size: 12px; text-align: left;"><%= chapter.name %> &#10060; </p>
                  <% end %>
            
                  <% if chapter.order > subscription.chapter_completed && !chapter.nil? %>
                    <p style="color: grey;font-weight: lighter; font-size: 12px; text-align: left;"><%= chapter.name %></p>
                  <% end %>
          
                <% end %>
            </div>

            <div>
            <% if subscription.course.chapters.last.order <= subscription.chapter_completed %>
            <%= link_to "Resume", course_chapter_path(subscription.course, subscription.chapter_completed + 1), class: "button", style: "margin-left: 10px; margin-right: 10px"%>
            <% else %>
            <%= link_to "Restart", course_chapter_path(subscription.course, subscription.chapter_completed + 1, restart: 1), class: "button", style: "margin-left: 10px; margin-right: 10px"%>
            <% end %>
            </div>
    </div>
    </li>
    <% end  %>
  </ul>
</div>


<div class="container text-center border border-primary"  style="background-color: white; border-radius: 5px; padding-top: 20px; margin-top:20px;margin-bottom:20px; box-shadow: 0 0 15px rgba(0,0,0,0.2); width:85%">

<%= link_to "Browse all courses", courses_path, class: "button" %>

<div class="row ">
  <% @courses.each do |course|  %>
      <div class="column" style="margin:auto;">
        <div class="card d-flex flex-column justify-content-between" style="height:550px">
        <div>
          <% if course.picture.attached? %>
            <%= cl_image_tag course.picture.key, style: "height: 200px; width:300px" %>
          <% else %>
            <%= image_tag "Ramiro.jpg", style: "height: 200px; with:300px" %>
          <% end %>
        </div>

        <div>
            <h4 style="margin-top: 5px"><%= course.name %></h4>
        
        </div>
          <div >
        
            <p class="title"><%= link_to "Details", course_path(course), class: "button", style: "margin-left: 10px; margin-right: 5px; margin-top: 10px" %></p>
            <p><%= link_to 'Subcribe', subscriptions_path(subscription: {course_id: course}), method: :post , class: "button", style: " margin-bottom: 20px; margin-left: 10px; margin-right: 10px" %></p>
         
          </div>
        </div>
    </div>
  <% end %>
  
</div>

</div>

  