<div class="header">
  <h1 class="text-center">My subscriptions</h1>
</div>


<div class="container">
  <ul class="cards">
    <% @subscriptions.each do |subscription|  %>
    <li class="cards__item">
      <div class="card d-flex flex-column justify-content-between">
        <div class="card__image card__image--fence"></div>
        <div class="card__content">
          <div class="card__title"><%= subscription.course.name %></div>
          <p class="card-text p-y-1" style="margin-top: 10px; margin-bottom: 10px">Progress : <%= subscription.chapter_completed %> / <%= subscription.course.chapters.last.order %></p>
          <% subscription.course.chapters[0..subscription.chapter_completed].each do |chapter|  %>
            <p style="color: black;font-weight: bolder;">
            <%= chapter.name %>
            <% if subscription.chapter_completed>= chapter.order %> 
              &#9989;
            <% else %>
              &#10060;
            <% end %>
            <br>
            <br>
          <% end %>
          <% subscription.course.chapters[subscription.chapter_completed + 1 .. -1].each do |chapter|  %>
          <p style="color: grey;font-weight: lighter;">
          Next : <%= chapter.name %>
        <% end %>
        </p>
      </div>
      <%= link_to "Resume", course_chapter_path(subscription.course, subscription.chapter_completed + 1), class: "button-hove", style: "margin-left: 10px; margin-right: 10px"%>
    </div>
    </li>
    <% end  %>
  </ul>
</div>




