<div class="container text-center">
    <h1>Here is the list of all courses available</h1>
</div>
  <%= form_tag courses_path, method: :get do %>
    <%= text_field_tag :query,
     params[:query],
      class: "form-control",
      placeholder: "Find a course"
    %>
   <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <% if params[:query].present? %>
    <%= link_to "All courses", courses_path, class:"btn btn-primary" %>
  <% end %>


<%= link_to 'Dashboard', dashboard_path, class: "btn btn-primary" %>

<div class="row">
  <% @courses.each do |course|  %>
      <div class="column">
        <div class="card">
          <%= image_tag "Ramiro.jpg" %>
          <div class="container_about">
            <h2><%= course.name %></h2>
            <div class="align-self-end">
            <p class="title"><%= link_to "Details", course_chapters_path(course), class: "btn btn-primary" %></p>
            <p><%= link_to 'Subcribe', subscriptions_path(subscription: {course_id: course}), method: :post , class: "btn btn-alert" %></p>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>