<div class="container text-center">
  <div>
    <h1>Here's the list of all courses available</h1>
    </div>
</div>

  <%= form_tag courses_path, method: :get do %>
    <%= text_field_tag :query,
     params[:query],
      class: "form-control",
      placeholder: "Find a course",
      style: "margin: 10px; margin-right: 10px;"

    %>
   <%= submit_tag "Search", class: "button", style: "float-end; margin: 10px; margin-bottom: 10px" %>
  <% end %>
  <% if params[:query].present? %>
    <%= link_to "All courses", courses_path, class:"btn btn-primary" %>
  <% end %>
  

<div class="row">
  <% @courses.each do |course|  %>
      <div class="column">
        <div class="card">
          <% if course.picture.attached? %>
            <%= cl_image_tag course.picture.key, style: "min-height: 589px; min-width: 589px;" %>
          <% else %>
            <%= image_tag "Ramiro.jpg" %>
          <% end %>
          <div class="container_about">
            <h2 style="margin-top: 20px"><%= course.name %></h2>
            <div class="align-self-end">
            <p class="title"><%= link_to "Details", course_path(course), class: "button", style: "margin-left: 10px; margin-right: 10px; margin-top: 60px" %></p>
            <p><%= link_to 'Subcribe', subscriptions_path(subscription: {course_id: course}), method: :post , class: "button", style: " margin-bottom: 60px; margin-left: 10px; margin-right: 10px" %></p>
            </div>
          </div>
        </div>
    </div>
  <% end %>
  
</div>
