<div class="container text-center">
  <div class="ala,"
    <h1>Here's the list of all courses available</h1>
    </div>
</div>

  
  <%= form_tag courses_path, method: :get do %>
    <%= text_field_tag :query,
     params[:query],
      class: "form-control",
      placeholder: "Find a course"
    %>
   <%= submit_tag "Search", class: "btn btn-primary btn-lg float-end" %>
  <% end %>
  <% if params[:query].present? %>
    <%= link_to "All courses", courses_path, class:"btn btn-primary" %>
  <% end %>
  

<div class="row">
  <% @courses.each do |course|  %>
      <div class="column">
        <div class="card">
          <% if course.picture.attached? %>
            <%= cl_image_tag course.picture.key %>
          <% else %>
            <%= image_tag "Ramiro.jpg" %>
          <% end %>
          <div class="container_about">
            <h2><%= course.name %></h2>
            <div class="align-self-end">
            <p class="title"><%= link_to "Details", course_path(course), class: "btn btn-primary" %></p>
            <p><%= link_to 'Subcribe', subscriptions_path(subscription: {course_id: course}), method: :post , class: "btn btn-alert" %></p>
            </div>
          </div>
        </div>
    </div>
  <% end %>
  
</div>