<%= link_to "Dashboard", dashboard_path, class: "btn btn-alert" %>

<div class="container ", style="padding: auto">
    <h1>Course page - <%= @course.name %></h1>
    <p><%= @course.topic %> - level: <%= @course.level %> </p>

    <%# Display course chapters %>
 <!--
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
-->

 <div class="row">
 <% @course.chapters.each do |chapter| %>
  
    <div class="col-sm-6">
      <%= image_tag "Logo-small.png" %>
      <div class="card-body">
        <h5 class="card-title"><%= chapter.order %> - <%= chapter.name %></h5>
        <p class="card-text">
          <%= chapter.summary %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Level : <%= chapter.level %></li>
          </ul>
        </p>
        <% if @subscription.nil? %>
          <%= link_to 'Subscribe to access', subscriptions_path(subscription: {course_id: @course}), method: :post , class: "button" %>
        <% else %>
          <% if @subscription.chapter_completed + 1 >= chapter.order  %>
            <%= link_to "Details", course_chapter_path(chapter.course, chapter, wanted: chapter.order), class: "btn btn-primary" %>
          <% else %>
            <%= link_to "Complete previous chapters to access", course_chapter_path(@subscription.course, @subscription.chapter_completed), class: "btn btn-danger" %>
          <% end %>
        <% end %>
      </div>
    </div>
 
<% end %>

</div>
   
  

 <%= link_to 'Subcribe', subscriptions_path(subscription: {course_id: @course}), method: :post , class: "button-hover" %>
 
    <%# <%= link_to @course.chapters.first.name, course_chapter_path(@course.chapters.first), {:style=>'color:blue'} %>
    <%= link_to 'Leave a review', new_course_review_path(course_id: @course), class: "btn btn-alert" %>
    <%= link_to "All chapters", course_chapters_path(@course), class: "btn btn-alert" %>
  <%# </div> %>

 <ul class="list-group">
  <% @course.reviews.each do |review| %>

  <li class="list-group-item"><%= review.comment %></li>
  <% end %>
</ul>



 <%# </div> %>

</div>


