<div class="container text-center">
    <h1>Here are all the chapters of <%= @course.name %></h1>
</div>

<% @chapters.each do |chapter|  %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title text-center"><%= chapter.order %> - <%= chapter.name %> </h4>
              <h6 class="card-subtitle text-muted text-center"><%= chapter.summary %></h6>
              <p class="card-text p-y-1">level : <%= chapter.level %></p>
              <%= link_to "Details", course_chapter_path(chapter.course, chapter), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
    <% end %>

     <%= link_to 'Subcribe', subscriptions_path(subscription: {course_id: @course}), method: :post , class: "btn btn-danger" %>