<div class="container text-center">
    <h1><%= @chapter.name %></h1>
</div>

<div class="container">
 <%= @chapter.content.html_safe %>
</div>

<%= link_to "Dashboard", dashboard_path, class: "btn btn-alert" %>
<%= link_to "Back to course", course_path(@chapter.course_id), class: "btn btn-primary" %>
<%= link_to 'Test', edit_chapter_test_path(@chapter), method: :GET , class: "btn btn-danger" %>
