

<div class="container-fluid border border-primary" style=" padding:50px; width:75%; margin:auto">
<h1 class="text-center">Test page - <%= @test.chapter.name %></h1>
<br>
<h2 style="margin-bottom"> <%= @test.question %></h2>
<br>
<ol>
<% @test.answers.each do |answer|%>
<h4><li> <%= answer %> </li></h4>
<% end  %>
</ol>

</div>


<div class="container form">
<%= simple_form_for [@test.chapter, @test] do |f| %>
  <%= f.select :choice, [@test.answers[0], @test.answers[1], @test.answers[2]] , style: 'float: left; width: 60%; display: block'%>   
  <%= f.submit "Submit answer", class: "button" %>
<% end %>

</div>